@import "../../../../../styles/variables";

.products {
  &__main {
    width: calc(100% - 20px);
    height: calc(100vh - 71px);
    margin: 10px;
    box-shadow: $shadow;
  }

  &__content {
    height: calc(100vh - 147px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-bottom: $border;
    line-height: 38px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
}
