@import "../../../../../styles/variables";

.filters {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: $border;

  &__select {
    width: 150px;
    height: 30px;
  }

  &__item-title {
    display: block;
    font-size: 12px;
    color: $border-color;
  }
}
