@import "../../../../../styles/variables";

.pagination {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: $border;

  &__item {
    width: 40px;
    height: 40px;
    border: $border;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
  }
}
