@import "../../../../../styles/variables";

.product-form {
  &__content {
    width: calc(100% - 20px);
    height: calc(100vh - 71px);
    box-shadow: $shadow;
    margin: 10px;
    padding-top: 15px;
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  &__field {
    width: 330px;
    height: 40px;
    padding: 0 15px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }

  &__button {
    width: 150px;
    height: 40px;
    cursor: pointer;
  }
}
